button {
    background-color: ghostwhite;
    transition-property: background-color, color;
    transition-duration: 2s;
    color: black;
}

button:hover {
    background-color: cornflowerblue;
    transition-property: background-color, color;
    transition-duration: 2s;
    color:white;
}

